.custom-navbar {
  text-transform: uppercase;
  box-shadow: 0px 18px 10px -6px rgba(0, 0, 0, 0.1);
}

.custom-navbar-border {
  font-size: 1rem;
  font-weight: 500;
  box-sizing: border-box;
}

.custom-navbar-border:hover:after,
.custom-navbar-border:focus:after {
  content: '';
  display: block;
  border-bottom: 4px solid #0dba4b;
  position: relative;
  top: 2.3rem;
}

.card-template {
  width: 90%;
}

.card-body {
  padding: 1.5rem 2.2rem;
}

.card-footer {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

.card-image {
  height: 180px;
  object-fit: fill;
}

.card-desp {
  font-size: 0.9rem;
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  .custom-navbar-border:hover:after,
  .custom-navbar-border:focus:after {
    border-bottom: none;
  }
}
